@font-face {
    font-family: 'HeliosBlackC';
    src: url('../fonts/HeliosBlackC.woff2') format('woff2'),
         url('../fonts/HeliosBlackC.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'HeliosC';
    src: url('../fonts/HeliosC.woff2') format('woff2'),
         url('../fonts/HeliosC.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff2') format('woff2'),
         url('../fonts/Helvetica.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}