html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html,
body {
    height: 100%;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
body {
    font-size: 16px;
    color: #fff;
    font-family: 'Helvetica';
    font-weight: 400;
    background-color: #1C1C1C;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex:  1 0 auto;
}
.footer {
     flex: 0 0 auto;
}
.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 40px;
}
.container-fluid {
    max-width: 1536px;
    margin: 0 auto;
}