@media (max-width: 1440px){
    .item-seven,
    .item-eight {
        display: none;
    }
    .works__item {
        flex-basis: 33.3%;
        max-width: 480px;
        min-height: 360px;
    }
    .item-one {
        .works__item-img {
            width: 260px;
            height: 360px;
        }
    }
    .item-two {
        .works__item-img {
            width: 263px;
            height: 308px;
        }
    }
    .item-theree {
        .works__item-img {
            width: 329px;
            height: 295px;
        }
    }
    .item-six {
        .works__item-img {
            width: 287px;
            height: 258px;
        }
    }
}

@media (max-width: 1300px) {
    .works__btn {
        margin-top: 20px;
        text-align: center;
        a {
            max-width: 480px;
            width: 100%;
        }
    }

    .service-directions__inner {
        flex-wrap: wrap;
    }
    .service-directions-item {
        margin-right: 10px;
    }

}
@media (max-width: 1271px) {
    .service-directions-item {
        margin-bottom: 20px;
    }
}
@media (max-width: 1200px) {
    .works__item {
        flex-basis: 50%;
        max-width: 600px;
    }
}

@media (max-width: 1068px) {

    h3 {
        font-size: 41px;
        line-height: 51px;
    }

    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__item {
        margin-right: 30px;
    }
}

@media (max-width: 965px) {

    .service-directions__inner {
        justify-content: center;
    }
    .service-directions-item {
        margin-left: 20px;
    }
    .title  {
        font-size: 32px;
    }
    .service-directions__btn {
        margin-top: 15px;
        text-align: center;
        a {
            max-width: 480px;
            width: 100%;
        }
    }

    .publications__item-title {
        font-size: 24px;
        line-height: 30px;
    }

}

@media (max-width: 840px) {
    .header__menu-list {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        top: 80px;
        background-color: #1c1c1c;
    }
    .header__menu-btn {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .header__menu-btn span,
    .header__menu-btn::before,
    .header__menu-btn::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .header__menu-btn::before,
    .header__menu-btn::after {
        content: '';
    }
    .header__menu-btn::before {
        top: 0;
    }
    .header__menu-btn::after {
        bottom: 0;
    }
    .header__menu-btn span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .header__menu-btn.active span {
        display: none;
    }
    .header__menu-btn.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header__menu-btn.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .header__menu-list.active {
        opacity: 1;
        visibility: inherit;
    }
    .header__bottom.lock {
        display: none;
    }
    .works.lock {
        display: none;
    }
    .service-directions.lock {
        display: none;
    }
    .publications.lock {
        display: none;
    }
    .presentation.lock {
        display: none;
    }
    .footer.lock {
        display: none;
    }

    .header__menu li {
        display: block;
        text-align: center;
    }
    .header__menu-list li+li {
        margin-left: 0;
        padding-top: 32px;
    }
    .header__menu-list {
        padding-bottom: 40px; 
    }
    .header__menu-list a {
        font-size: 36px; 
    }
    .info.footer__item-order {
        max-width: none;
    }
    .header__menu-info {
        margin-top: 40px;
        border-top: 1px solid #262626; 
        text-align: center;
    }
    .info.footer__item-order {
        a {
            font-size: 24px;
        }
        .footer__item-phone {
            margin-bottom: 8px;
        }
    }
    .header__menu {
        .header__menu-social {
            .footer__item-social {
                margin-top: 0;
            }
            padding-top: 10px;
            li {
                display: inline-block;
                margin-right: 8px;
                margin-left: 8px;
            }
            .footer__item-social-list {
                li + li {
                    padding-top: 0;
                }
            }
        }
    }
    .header__bottom h1 {
        font-size: 48px;
        margin-bottom: 10px;
        height: auto;
        line-height: 56px;
    }
    .header__bottom h2 {
        font-size: 24px;
        line-height: 36px;
    }

}
@media (max-width: 770px) {
    .works__item {
        flex-basis: 100%;
        max-width: 100%;
    }
    .footer__inner {
        flex-direction: column;
        .footer__item {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 565px) {

    .title {
        font-size: 29px;
        margin-bottom: 40px;
    }
    .service-directions__btn {
        margin-top: 0px;
    }

}

@media (max-width: 560px) {

    .header__bottom h2 {
        font-size: 24px;
    }

    .publications__btn {
        margin-top: 15px;
        text-align: center;
        a {
            max-width: 480px;
            width: 100%;
        }
    }
    h3 {
        font-size: 35px;
        line-height: 42px;
    }
    .presentation__btn {
        display: block;
        text-align: center;
    }

}











@media (min-width: 840px) {
    .header__menu > ul {
        display: block !important;
    }
}