


@mixin HeliosBlackC {
    font-family: 'HeliosBlackC';
    font-weight: 400;
}
@mixin HeliosC {
    font-family: 'HeliosC';
    font-weight: 400;
}
@mixin Helvetica {
    font-family: 'Helvetica';
    font-weight: 400;
}