@import 'global';
@import 'vars';
@import 'fonts';

/* Header */
.header {
    background-color: #1c1c1c;   
    height: 100vh;
}
.header__top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo {
    @include HeliosBlackC;
    font-size: 32px;
    position: relative;
    span {
        position: absolute;
        top: -1px;
        @include HeliosC;
        color: #D93D35;
        font-size: 16px;
    }
}
.header__menu-btn {
    display: none;
    width: 30px;
}
.header__menu-row {
    width: 100%;
    background-color: #fff;
    height: 4px;
    margin-bottom: 4px;
}
.header__menu-list li + li {
    margin-left: 34px;
}
.header__menu-list a{
    @include Helvetica;
    font-size: 24px;
    transition: all .3s;
    &:hover {
        color: #D93D35;
    }
}
.header__bottom {
    color: #fff;
    @include Helvetica;
    text-align: center;
    &-box {
        max-width: 780px;
        margin: 0 auto;
    }
    h1 {
        font-size: 72px;
        @include Helvetica;
        margin-top: 25%;
        // margin-top: 160px;
        margin-bottom: 24px;
        line-height: 83px
    }
    h2 {
        @include Helvetica;
        font-size: 32px;
        line-height: 40px;
        margin: 0;
        height: 148px;
    }
}
.header__menu-info {
    display: none;
}
.header__menu-social {
    display: none;
}
.scroll-down {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: block;
    padding-bottom: 32px;
    font-size: 0;
    white-space: nowrap;
    button {
        @include Helvetica;
        background-color: transparent;
        border: none;
        color: #666;
        width: 200px;
        font-size: 22px;
        display: inline;
        span {
            color: #fff;
            display: inline;
        }
    }
}

    .header__menu-btn .active {
        background-color: #fff;
        padding-right: 100px;
    }



/* End header */

/* Wokrs */

.works__inner {
    display: flex;
    flex-wrap: wrap;
}
.works__item {
    flex-basis: 25%;
    max-width: 380px;
    // width: 100%;
    min-height: 280px;
    position: relative;
    &-content {
        position: absolute;
        width: 200px;
        left: 24px;
        bottom: 24px;
    }
}
.content__title {
    font-size: 24px;
    margin-bottom: 2px;
}
.content__text {
    color: rgba(255,255,255,0.64);
}
.works__item-img {
    position: absolute;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item-one,
.item-seven {
    background-color: #D93D35;
    .works__item-img {
        width: 220px;
        height: 280px;
    }
}
.item-two,
.item-eight {
    background-color: #6D9E2E;
    .works__item-img {
        width: 200px;
        height: 233px;
        bottom: 0;
    }
}
.item-theree {
    background-color: #6E6456;
    .works__item-img {
        width: 260px;
        height: 233px;
        bottom: 0;
    }
}
.item-four {
    .works__item-img {
        width: 100%;
        height: 100%;
    }
}
.item-five {
    .works__item-img {
        width: 100%;
        height: 100%;
    }
}
.item-six {
    background-color: #306C9F;
    .works__item-img {
        width: 210px;
        height: 194px;
        bottom: 0;
    }
}
.works__item {
    overflow: hidden;
    .works__item-img {
        transition: all .7s;
    }
    &::before {
        content: '';
        position: absolute;
        background: linear-gradient(to top,rgba(28,28,28,0.3),rgba(28,28,28,0.1));   
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }
}
.works__item:hover {
    &::before {
        opacity: 1;
    }
    .works__item-img {
        transform: rotate(-7deg) scale(1.3);
    }
}
.btn {
    margin-top: 40px;
    a {
        border: 1px solid #525252;
        padding: 10px 16px 12px;
        transition: all .3s;
        &:hover {
            background-color: #D93D35;
            color: #000;
        }
    } 
}

/* End works*/

/* service-directions */

.service-directions {
    margin-top: 120px;
}
.title {
    font-size: 56px;
    margin-bottom: 64px;
}
.service-directions__inner {
    display: flex;
    justify-content: space-between;
}
.service-directions-item {
    border-top: 2px solid #262626;
    padding-top: 32px;
    font-size: 24px;
    margin-bottom: 8px;
    width: 296px;
    transition: all .4s;
    &:hover {
        color: #D93D35;
        border-top: 2px solid #D93D35 ;
    }
    &__text {
        margin-top: 8px;
        margin-bottom: 32px;
        color: rgba(255,255,255,0.48);
        font-size: 16px;
        line-height: 18px;
    }
    &__price {
        font-size: 24px;
        color: #fff;
    }
}

/* End service-directions */

/* publications */

.publications {
    margin-top: 120px;
}
.publications__item {
    margin-bottom: 64px;
    max-width: 1006px;
    border-top: 2px solid #262626;
    transition: all .3s;
    &:hover {
        border-top: 2px solid #D93D35;
        color: #D93D35;
    }
    &-data {
        padding-top: 24px;
        
        color: rgba(255,255,255,0.48);
        margin-bottom: 24px;
        span {
            color: #D93D35;
            margin-right: 16px;
        }
    }
    &-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 8px;
    }
    &-text {
        color: rgba(255,255,255,0.48);
    }
}
.publications__btn {
    margin-top: 0;
}

/* End publications */

/* presentation */

.presentation {
    margin-top: 120px;
}
h3 {
    max-width: 1100px;
    font-size: 56px;
    line-height: 64px;
    @include Helvetica;
    margin: 0;
    margin-bottom: 50px;
    span {
        color: #D93D35;
    }
}

.presentation__item {
    max-width: 1006px;
    margin-bottom: 32px;
    h4 {
        margin: 0;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 8px;
    }
    p {
        margin: 0;
        line-height: 18px;
        color: #898989;
    }
}
.presentation__btn button {
    border: 1px solid #525252;
    padding: 10px 16px 12px;
    margin: 0;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    span {
        color: #898989;
    }
    &:hover {
        background-color: #D93D35;
        color: #000;
    }
}

/* End presentation */

/* footer */

.footer {
    margin-top: 120px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 1px solid #262626;
}
.footer__item-address {
    max-width: 315px;   
    a {
        font-size: 20px;
        line-height: 28px;
    }
}
.footer__item-order {
    max-width: 315px;
    a {
        display: block;
        font-size: 20px;
        transition: all .3s;
        &:hover {
            opacity: .7;
        }
    }
}
.footer__item-mail {
    color: #D93D35;
    transition: all .3s;
    &:hover {
        opacity: .7;
    }
}
.footer__item-social {
    &-list {
        li {
            a {
                transition: all .3s;
                svg {
                    width: 30px;
                    height: 30px;
                    fill: #898989;
                }
                &:hover {
                    opacity: .6;
                }
            }
        }
    }
    li + li {
        margin-left: 16px;
    }
}
.footer__item-title {
    color: #898989;
    margin-bottom: 8px;
}

/* End footer */



@import 'media';